@page
@model Listener.Pages.SimData.IndexModel
@{
}

<link href="~/css/tables.css" rel="stylesheet" />
<script src="~/js/boards.js"></script>

<div id="outputList" class="side_column">
    <h2>Simulator Outputs</h2>
</div>

<div id="boardList" class="centre_column">
    <h2>Connected Boards</h2>
</div>

<div id="inputList"  class="side_column">
    <h2>Board Inputs</h2>
</div>
