@page
@model Listener.Pages.SimData.IndexModel
@{
}

<link href="~/css/tables.css" rel="stylesheet" />

<div  class="central">
    <table id = "SimDataList-table" class="table">
        <caption>List of Requested Simulator Data</caption>
        <thead><tr><th>Measure</th><th>Value</th></tr></thead>
        <tbody>
            @foreach (var row in Model.SimData as Dictionary<string, string>)
            {
                        <tr><td>@row.Key</td>
                            <td>@row.Value</td>
                        </tr>

            }

        </tbody >

    </table >
</div>