


/.vs/
/obj/
/bin/
/FlightSimulator/obj/
/FlightSimulator/bin/
/FlightSimulator/obj
/FlightSimulator/bin
/FlightSimulator/obj/Debug/net7.0/
/FlightSimulator/bin/Debug/net7.0/Listener.pdb
/FlightSimulator/obj/Debug/net7.0/Listener.pdb
/FlightSimulator/obj/Debug/net7.0/staticwebassets.build.json
/FlightSimulator/obj/Debug/net7.0/staticwebassets.pack.json
/FlightSimulator/obj/project.nuget.cache
/FlightSimulator/FlightSimulatorTest/obj/FlightSimulatorTest.csproj.nuget.dgspec.json
/FlightSimulator/FlightSimulatorTest/obj/FlightSimulatorTest.csproj.nuget.g.props
/FlightSimulator/FlightSimulatorTest/obj/FlightSimulatorTest.csproj.nuget.g.targets
/FlightSimulator/FlightSimulatorTest/obj/project.assets.json
/FlightSimulator/FlightSimulatorTest/obj/project.nuget.cache
