


/.vs/
/obj/
/bin/
/FlightSimulator/obj/
/FlightSimulator/bin/
/FlightSimulatorTest/bin/
/FlightSimulatorTest/obj/
/FlightSimulator/FlightSimulatorTest/obj/
/FlightSimulator/wwwroot/js/node_modules/
/FlightSimulator/wwwroot/lib/
/FlightSimulator/wwwroot/lib
/FlightSimulator/wwwroot/lib/menulibrary/dist/css/menu.css
