@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

  <!-- JumboTron image -->
  <div class="p-5 text-center bg-image" style="
      background-image: url('img/phantom.svg');
      height: 400px;
      margin-top: 58px;
    ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
                <h1 class="mb-3">@Model.ApplicationName</h1>
          <h4 class="mb-3">Introduction</h4>
        </div>
      </div>
    </div>
  </div>
<!-- JumboTron image -->
  <div class="p-5">
        <div class="text-black">
         @Html.Raw( Model.Document )
    </div>
  </div>