@import url('./site.css');

.side_column {
    float: left;
    margin: 10px;
    width: 20%;
    padding: 10px;
    text-align: center;
}

    .side_column div {
        border: 2px solid black;
        border-radius: 5px;
        padding: 5px;
        margin: 2px;
    }

        .side_column div h3 {
            text-align: left;
            color: black;
            padding: 0;
            margin: 0;
            font-size: 1em;
        }

        .side_column div p {
            text-align: left;
            font-size: .75em;
            padding: 0;
            margin: 0;
        }

.centre_column {
    float: left;
    width: 50%;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
    .centre_column #IP {
        border: 0;
        float: left;
        width: 20%;
        padding: 0;
        margin: 0;
        font-size: 1em;
        height: 10px;
    }

    .centre_column div {
        border: 2px solid black;
        height: 50px;
        border-radius: 5px;
        padding: 5px;
        margin: 2px;
    }

        .centre_column div h3 {
            text-align: left;
            color: black;
            padding: 0;
            margin: 0;
            font-size: 1em;
        }

        .centre_column div p {
            text-align: left;
            font-size: .75em;
            padding: 0;
            margin: 0;
        }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}