@import url('./site.css');

#wrap {
    width: 100%;
    height: 1000px;
    padding: 0;
    overflow: hidden;
    position: relative;
}

#frame {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    position: relative;
}

#frame {
    zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}



