@page
@model Listener.Pages.Map.IndexModel
@{
}
<link href="~/css/frames.css" rel="stylesheet" />
<script src="~/lib/compass/compass.js"></script>

<main id="sidebyside">
    <div id="list_column">

            <button type="button" id="button">Download Here</button>
            <script>
                var button = document.getElementById('button');

                var downloadify = new Downloadify(button, navigator, {
                  windows: 'https://google.com',
                  macos: 'https://bing.com',
                  linux: 'https://medium.com',
                  fallback: 'https://yahoo.com'
                });
            </script>

    </div>
    <div id="data_column">
        <iframe title="Map giving position of Flight Simulator" src="/Map/Raw" id="map-frame" frameborder="0"></iframe>
    </div>
</main>
