@page
@model Listener.Pages.Map.IndexModel
@{
}
<link href="~/css/frames.css" rel="stylesheet" />

<main id="sidebyside">
    <div id="list_column">


    </div>
    <div id="data_column">
        <iframe title="Map giving position of Flight Simulator" src="/Map/Raw" id="map-frame" frameborder="0"></iframe>
    </div>
</main>
